


img{

    width: 400px;
    height: 400px;
   padding-right: 30px;
}


#myChart{
width: 500px;
height: 500px;

}
#chart{
    margin-top: 30px;
margin-left: 950px;
    width: 600px;
    height: 400px;
}


#container{

    margin-left: 500px;
}

header img{

  display: inline-block;
    border-radius: 150%;
    clear: both;
    
 
    width: 275px;
    height: 200px;
}

header{
width: 100%;
    background-color: #CC9B6D;


}
h1{

text-align: center;
    color: white;
font-size: 100px;

float: right;
margin-right: 44%;
margin-top: 40px;
}


main{
    background-color: #F1CA89
}

#container{

    text-align: center;
    margin-right: 479px;}











footer{

width: 100%;  
  background-color: #F2DAC3;
}



#butt{

margin-left: 1201px;
padding: 30px;
margin-top: 30px;
}

p{

    text-align: center;
    font-size: 25px;
    padding: 38px;
}

#results{
text-align: center;
    margin-right: 50px;
}

#myChart{

}